body{
  margin: 0;
  padding: 0;
  width: 100%;
  font-family:'Josefin Slab';
}

#header {
  width: 100%;
  overflow: hidden;
  background-color: #ff9bbe;
}

#title {
  float: left;
  width: 30%;
  margin: 10px 0;
  font-size: 30px;
  font-weight: bold;
  color: #b25b79
}

#title span {
  font-size: 45px;
  text-shadow: 5px 5px #9bffa4;
}

#upper-nav {
  float: right;
  margin: 10px;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  text-align: right;
}

a {
  color: #b25b79;
}

#content {
  padding: 50px;
  text-align: center;
  background-color: #b25b79;
  font-size: 20px;
  height: 400px;
}

#content a {
  color: #ff9bbe;
}

#tandb {
  font-size: 40px;
  text-shadow: 2px 2px #9bffa4;
}

#footer {
  padding: 50px;
  background-color: #ff9bbe;
}

#content img {
  width: 300px;
  height: 300px;
}

td img {
  height: 50px;
  width: 50px;
}

table {
  float: right;
}

td {
}

#current-page {
  text-shadow: 5px 5px #9bffa4;
}